/* Button 1  */

#black-background-medium-button {
    color: white;
    width: 150px;
    height: 40px;
    background: rgb(30, 30, 31);
    border-radius: 5px;
    margin-top: 40px;
    font-size: 20px;
    border-color: aqua
  }

  /* Button 2  */

  #circled-aqua-medium-button {
    width: 100px;
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: aquamarine;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    color: rgb(26, 21, 21)
  }

  /* Button 3 */

  #black-medium-submit-button {
    color: antiquewhite;
    width: 150px;
    height: 40px;
    background: rgb(30, 30, 31);
    border-radius: 5px;
    font-size: 22px;
    border-color: antiquewhite;
  }